<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   PropertyList

   Created by Ivan Ermak on 12/7/18.
   Copyright (c) 2018 Ivan Ermak. All rights reserved.
-->
<plist version="1.0">
    
	
        <array>
            <dict>
            <key>title</key>
            <string>camp</string>
            <key>subtitle</key>
            <string>sunny</string>
            <key>image_name</key>
            <string>labeled</string>
            </dict>
            <dict>
                <key>title</key>
                <string>city</string>
                <key>subtitle</key>
                <string>Lorem ipsum dolor sit er elit lamet, consectetaur cillium adipisicing pecu, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nam liber te conscient to factor tum poen legum odioque civiuda.</string>
                <key>image_name</key>
                <string>amfora</string>
            </dict>
        </array>
	
    </plist>
